/* General */

html {
    font-family: Helvetica;
}

body {
    background-color: antiquewhite;
    margin: 0;
}

a {
    text-decoration: underline;
}

h1 {
    background-color: black;
    color: white;
    font-size: clamp(5rem, 6vw, 10rem);
    margin: 2vw 0 1vw 0;
    padding: 1vw 6vw;
}

#content-container {
    align-content: space-around;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 4vw;
    width: 92vw;
    height: auto;
}

.content-home {
    flex-wrap: wrap;
}

.content-other {
    flex-wrap: nowrap;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#content-container > a {
    background-position: top;
    background-size: cover;
    height: 20vh;
    margin: 1vw;
    padding: 5vw;
    position: relative;
}

#content-box-1 {
    background-image: url(images/banknote-banner.png);
    flex-grow: 2
}

#content-box-2 {
    background-image: url(images/flags-banner.png);
    flex-grow: 1
}

#content-box-3 {
    background-image: url(images/metro-banner.png);
    flex-grow: 2
}

#content-container > a > p {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    color: white;
    display: flex;
    font-size: clamp(5rem, 5vw, 10rem);
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: 0.2s;
    width: 100%;
}

#content-container > a > p:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.025);
}

@media (max-width: 1000px) {
    #content-container {
        flex-direction: column;
    }

    #content-container > a {
        width: 80vw;
    }
  }

.bottom-bar {
    background-color: black;
    margin: 3vw 0 0 0;
    height: 5vw;
    width: 100%;
}

.bottom-bar > p {
    color: white;
    font-size: clamp(1rem, 1vw, 3rem);
    font-weight: bold;
    height: 5vw;
    line-height: 5vw;
    text-align: center;
}

/* Design Pages */

.home-button {
    background-color: white;
    color: black;
    display: inline-block;
    font-weight: bold;
    margin: -1vw 0 1vw 6vw;
    padding: 1vw;
    text-align: center;
    transition: 0.2s;
    width: 8vw;
}

.home-button:hover {
    background-color: black;
    color: white;
}

.about-page {
    background-color: white;
    color: black;
    display: inline-block;
    font-size: clamp(1rem, 1vw, 3rem);
    margin: -1vw 6vw 1vw 0;
    padding: 1vw;
}

h2 {
    background-color: black;
    color: white;
    font-size: clamp(2rem, 3vw, 5rem);
    margin: 1vw 0;
    padding: 1vw 6vw;
}

.design-container {
    margin: 1vw;
    position: relative;
}

.information-container {
    align-self: center;
    flex-grow: 1;
}

.image-file {
    left: 0;
    margin:0;
    top: 0;
    width: 70vw;
}

h3 {
    background-color: black;
    color: white;
    font-size: clamp(2rem, 2vw, 5rem);
    left: 0;
    margin: 0;
    padding: 1vw;
    width: calc(100% - 2vw);
}

.information-container > p {
    background-color: white;
    font-size: clamp(1rem, 1vw, 3rem);
    margin: 0;
    padding: 1vw;
    width: calc(100% - 2vw);
}

@media (max-width: 1000px) {
    .image-file {
        width: 100%;
    }

    .information-container {
        width: 90vw;
    }
  }


/* Banknotes */

#five {
    background-color: #408fde;
}

#ten {
    background-color: #ffa300;
}

#twenty {
    background-color: #e89cae;
}

#twenty-five {
    background-color: #007a34;
}

#fifty {
    background-color: #ffcd00;
}

#one-hundred {
    background-color: #da291c;
}

#five-hundred {
    background-color: #1006a0;
}

#one-thousand {
    background-color: #840a55;
}
