html {
    font-family: Helvetica;
}

body {
    margin: 0;
}

#header {
    background-color: black;
    color: white;
    font-size: 6vw;
    margin: 2vw 0 1vw 0;
    padding: 1vw 6vw;
}

#content-container {
    align-content: space-around;
    align-items: flex-start;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 4vw 3vw 4vw;
    width: 92vw;
}

.break {
    flex-basis: 100%;
    height: 0;
}

#content-container > a {
    background-position: top;
    background-size: cover;
    height: 20vh;
    margin: 1vw;
    padding: 5vw;
    position: relative;
    text-decoration: none;
}

#content-box-1 {
    background-image: url(images/banknote-banner.png);
    flex-grow: 2
}

#content-box-2 {
    background-image: url(images/flags-banner.png);
    flex-grow: 1
}

#content-box-3 {
    background-image: url(images/metro-banner.png);
    flex-grow: 2
}

#content-container > a > p {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    color: white;
    display: flex;
    font-size: 5vw;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transition: 0.2s;
    width: 100%;
}

#content-container > a > p:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 1000px) {
    #content-container {
        flex-direction: column;
    }

    #content-container > a {
        width: 80vw;
    }
  }